html, body {
    width: 99%;
    background-color: beige;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

th,td {
    text-align: right;
    font-family: monospace;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

td {
    border-bottom: 1px solid #888888;
    border-left: 0px;
    border-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

a { 
    color: black;
}

.IntegrableSystems {
    background-color: #88FF88;
}

.DynamicalSystems {
    background-color: #FF5555;
}

.Electromagnetism {
    background-color: #DDDD22;
}

.FluidDynamicsI {
    background-color: #4488FF;
}

.MathematicalBiology {
    background-color: #60ff20;
    color: #a000e0;
}

.NumericalAnalysis {
    background-color: red;
    color: black;
}

.QuantumMechanics {
    background-color: #660066;
    color: #DCD0FF;
}

.VariationalPrinciples {
    background-color: #3F00FF;
    color: gold;
}
