table.timetable {
    border-collapse: collapse;
    border-spacing: 0px;
}

th,td {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

tr {
    border-bottom: 1px solid #888888;
    border-left: 0px;
    border-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

a { 
    color: black;
}

.DropIn {
    background-color: silver;
}

.DynamicalSystems {
    background-color: #FF5555;
}

.Electromagnetism {
    background-color: #DDDD22;
}

.FluidDynamicsI {
    background-color: #4488FF;
}

.IntegrableSystems {
    background-color: #88FF88;
}

.MathematicalBiology {
    background-color: #30a000;
    color: #DCD0FF;
}

.NumericalAnalysisI {
    background-color: red;
    color: gold;
}

.QuantumMechanics {
    background-color: #660066;
    color: #DCD0FF;
}

.STEP {
    background-color: silver;
    color: black;
}

.VariationalPrinciples {
    background-color: #3F00FF;
    color: gold;
}
